Package: com.creaturecoding.pulltoclear
Name: PullToClear
Depends: mobilesubstrate, com.creaturesurvive.libcscolorpicker, com.creaturecoding.libcspreferences
Version: 0.3.1
Architecture: iphoneos-arm
Description: PullToClear notifications on LS & NC
Maintainer: CreatureSurvive
Depiction: https://creaturesurvive.github.io/depictions/com.creaturecoding.pulltoclear/index.html
Author: CreatureSurvive
Section: Tweaks
