<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
	<dict>
		<key>title</key>
		<string>pulltoclear</string>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enabled</string>
				<key>key</key>
				<string>kPTCEnabled</string>
				<key>isGroupToggle</key>
				<true/>
				<key>PostNotification</key>
				<string>com.creaturecoding.PullToClear.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.PullToClear</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>height</key>
				<string>30</string>
				<key>isDecimalPad</key>
				<true/>
				<key>key</key>
				<string>kPTCActivationHeight</string>
				<key>label</key>
				<string>Release Height</string>
				<key>description</key>
				<string>Release To Clear Height:\n\nThe height at which the Release string will pop up</string>
				<key>placeholder</key>
				<string>40</string>
				<key>seporatorHidden</key>
				<true/>
				<key>PostNotification</key>
				<string>com.creaturecoding.PullToClear.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.PullToClear</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>isContinuous</key>
				<true/>
				<key>key</key>
				<string>kPTCActivationHeight</string>
				<key>leftImage</key>
				<string></string>
				<key>max</key>
				<real>100</real>
				<key>min</key>
				<real>0.0</real>
				<key>rightImage</key>
				<string></string>
				<key>showValue</key>
				<false/>
				<key>description</key>
				<string>Release To Clear Height:\n\nThe drag distance at which the Release string will pop up</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.PullToClear.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.PullToClear</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>height</key>
				<string>30</string>
				<key>isDecimalPad</key>
				<true/>
				<key>key</key>
				<string>kPTCClearHeight</string>
				<key>label</key>
				<string>Clear Height</string>
				<key>description</key>
				<string>Clear Notifications Height:\n\nThe drag distace at which the notifications will be cleared</string>
				<key>placeholder</key>
				<string>40</string>
				<key>seporatorHidden</key>
				<true/>
				<key>PostNotification</key>
				<string>com.creaturecoding.PullToClear.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.PullToClear</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>isContinuous</key>
				<true/>
				<key>key</key>
				<string>kPTCClearHeight</string>
				<key>leftImage</key>
				<string></string>
				<key>max</key>
				<real>100</real>
				<key>min</key>
				<real>0.0</real>
				<key>rightImage</key>
				<string></string>
				<key>showValue</key>
				<false/>
				<key>description</key>
				<string>Clear Notifications Height:\n\nThe drag distace at which the notifications will be cleared</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.PullToClear.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.PullToClear</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>CSListFontsController</string>
				<key>key</key>
				<string>kPTCFontName</string>
				<key>label</key>
				<string>Font Family</string>
				<key>titlesDataSource</key>
				<string>fontNames</string>
				<key>valuesDataSource</key>
				<string>fontNames</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.PullToClear.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.PullToClear</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>isDecimalPad</key>
				<true/>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>kPTCFontSize</string>
				<key>label</key>
				<string>Font Size</string>
				<key>placeholder</key>
				<string>17</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.PullToClear.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.PullToClear</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>defaults</key>
				<string>com.creaturecoding.PullToClear</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/PullToClear.bundle</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.PullToClear.prefschanged</string>
				<key>key</key>
				<string>kPTCFontColor</string>
				<key>label</key>
				<string>Font Color</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>kPTCReleaseString</string>
				<key>label</key>
				<string>Release String</string>
				<key>placeholder</key>
				<string>Release to Clear</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.PullToClear.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.PullToClear</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>kPTCPullString</string>
				<key>label</key>
				<string>Pull String</string>
				<key>placeholder</key>
				<string>Pull To Clear</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.PullToClear.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.PullToClear</string>
			</dict>

		</array>
	</dict>
</plist>
